<p>Hello <%= @user.nickname %>! Select class duration!</p>

<a href="/user_view/<%= @user.id %>/20">
    <p> 20 min class </p>
</a>

<a href="/user_view/<%= @user.id %>/40">
    <p> 40 min class </p>
</a>

